.tripplaces-container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.tripplaces-container2 {
  height: 100vh;
  width: 45%;
  z-index: 10;
  box-shadow: 2px 2px 6px gray;
  overflow: auto;
}
.tripplaces-heading {
  padding: 10px;
}
.linknewplaces {
  margin-left: 30px;
}
.tripplaces-heading > h1 {
  font-size: 30px;
  font-weight: bold;
}
.tripplaces-map {
  width: 35%;
}

.tp-line {
  width: 3px;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-left: 13px;
}
.tripplaces-addnewplace {
  width: 45%;
  padding: 2px;
  margin-bottom: 30%;
  margin-left: 8px;
}

.softbtn {
  width: 5%;
  margin-top: -3px;
  z-index: 10;
  margin-left: 7px;
}
.inputandbtn {
  display: flex;
}

.i-btn {
  position: absolute;
  margin-left: -60px;
}
