
  
  footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 10px;
    margin-left: 40px;
  }
  
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section a {
    color: #292929;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    footer {
        position: relative;
    }
    .footer-content {
      flex-direction: column;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  }
  