.main-container {
  display: flex;
}
.sub-maincontainer {
  position: fixed;
  height: 100vh;
  width: 45%;
  box-shadow: 4px 6px 8px gray;
  z-index: 50;
}
.container-navbar {
  background-color: white;
  padding: 10px;
  box-shadow: 1px 0px 1.5px gray;
}
.middle-section {
  display: flex;
  z-index: 50;
}
.c-sidebar {
  height: 100vh;
  width: 7%;
  transition: width 0.3s ease;
  box-shadow: 0.5px 0px 1px gray;
}
.expanded-sidebar {
  height: 100vh;
  width: 20%;
  box-shadow: 0.5px 0px 1px gray;
  transition: width 0.3s ease;
}
.arrow-icon {
  position: absolute;
  bottom: 20px;
  padding-left: 3%;
  width: 5.8%;
  padding-top: 7px;
  padding-bottom: 5px;
  cursor: pointer;
  color: gray;
  font-size: small;
  transition: width 0.3s ease;
  transition: 0.3s ease;
}
.arrow-icon-2 {
  position: absolute;
  bottom: 20px;
  padding-left: 12%;
  padding-top: 7px;
  padding-bottom: 5px;
  width: 15%;
  cursor: pointer;
  color: gray;
  font-size: small;
  transition: width 0.3s ease;
  transition: 0.3s ease;
}

.main-section {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  z-index: 30;
  overflow: scroll;
  position: relative;
}
.cover-img {
  border: 1px solid black;
  width: 100%;
}
.cover-img > img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}
.cover-board {
  border-radius: 30px;
  position: absolute;
  background-color: white;
  top: 25%;
  width: 60%;
  padding: 12px;
  margin-left: 100px;
  box-shadow: 2px 4px 4px gray;
}
.cover-board > h2 {
  font-size: 30px;
  font-weight: bold;
}

.dateandprofile {
  padding-top: 16px;
  margin: 7px;
  display: flex;
  justify-content: space-between;
}
.for-date {
  padding-top: 10px;
}
.placetovisit-container {
  margin-top: 20%;
  width: 80%;
  margin-left: 40px;
}
.trip-details-mapcontainer {
  position: fixed;
  height: 120vh;
  width: 100%;
  border: 1px solid gray;
  margin-left: 45%;
}
.maps:focus {
  outline: none;
}
