/* About.css */
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2, h3 {
    color: #333; /* Dark text color */
  }
  
  p {
    color: #666; /* Slightly lighter text color */
    line-height: 1.6;
  }
  
  a {
    color: #007bff; /* Link color */
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  