/* .trips {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(232, 232, 232);
} */
/* TripPlannerForm.css */

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .date-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 5px;
  }
  
  button {
    padding: 12px 24px; 
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }