.link-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  height: 33vh;
  width: 80%;
  margin: 10px;
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
}

.title {
  width: 60%;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.description {
  word-wrap: break-word;
  font-size: 15px;
  font-style: italic;
  font-weight: 200px;
  white-space: wrap;
  display: block;
}

.right-arrow {
  display: flex;
  box-shadow: 1px 0.9px 1px gray;
  width: 20%;
  padding: 2px;
  justify-content: center;
  font-size: 25px;
  margin-top: 10px;
}

.right-arrow > h5 {
  font-size: 15px;
}
.images {
  width: 140%;
  height: 40%;
  object-fit: cover;
}
