.link-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  height: 33vh;
  width: 98%;
  margin: 10px;
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
}
.link-container:hover {
  text-decoration: none;
}
.title {
  width: 60%;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.description {
  font-size: 15px;
  font-style: italic;
  white-space: wrap;
  text-align: left;
}

.right-arrow > h5 {
  color: white;
}

.right-arrow > h5 {
  font-size: 15px;
}
.images {
  width: 140%;
  height: 40%;
  object-fit: cover;
}
