/* 
.main-navigation__header {
  width: 100%;
  height: 4rem;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 0 1rem;
  z-index: 5;
}

.main-navigation__title {
  color: black;
}

.main-navigation__title a {
  color: black;
  text-decoration: none;
}

.main-content {
  margin-top: 4rem;
}

.logo {
  width: 6rem;
  height: 4rem;
  /* border-radius: 50%; 
}

@media (max-width: 768px) {
  .main-content {
    margin-top: 3rem;
  }
} 